<!DOCTYPE html>
<html>
    <head>
        <title>問題確認</title>
    </head>
    <body>
        <p><%= data[0].question_name %></p>
        <br>
        <h1><%= data[0].question_text %></h1>
        <br>
        <br>
        <p><label>ア</label>　<%= data[0].select_1 %></p>
        <br>
        <p><label>イ</label>　<%= data[0].select_2 %></p>
        <br>
        <p><label>ウ</label>　<%= data[0].select_3 %></p>
        <br>
        <p><label>ェ</label>　<%= data[0].select_4 %></p>
        <br>
        <h1><label>回答</label>　<%= data[0].answer %></h1>
    </body>
</html>